<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h1>Additional information....</h1>
  <div class="col-offset-xs-2 col-xs-8">
    <h3>Solar Panels</h3>
    <h5 id="panels">step 1</h5>
    <p>
      The first step on this system occurs when the sun light hits the solar panels and the energy is transformed into an electrical current. This is done by a photon (packet of light energy) coming in, and bumping it up with an electron making it to travel to the battery for storage. Then will be waiting on the battery to be used when needed.
    </p>
    <br>
    <h3 id="batts">Batteries</h3>
    <h5>step 2</h5>
    <p>
      Batteries are an important element of any solar energy system. This comes as a result that the system will only collect energy during the day. However, once night time falls it will switch from the solar energy to the power that is stored in the battery. The way the batteries function is by receiving the DC power directly from the solar panel and storing the energy that is going to be used whenever the solar panels do not solar energy anymore.
    </p>
    <br>
    <h3 id="transformer">The Transformer</h3>
    <h5>step 3</h5>
    <p>
      Transformers on solar systems are a key step on the process of being able to actually use the energy that comes from the battery or from the solar panels. The role of this device is to be able to change the direct current(DC) that comes as input and transforms it to alternating current(AC). This is such an important step since the majority of appliances used in a house work with AC power. So, the only way that the energy coming from this system works is with this device. Transformers are also implementing important capabilities such as data monitoring and advanced utility controls. This additional option is also significant since they can warn the user about any problem with the system.
    </p>
    <br>
    <h3 id="grid">The Grid</h3>
    <h5>steps 4 and 5</h5>
    <p>
      Another important part of the solar panel system is the integration with the electric grid. This is so important since it is the last back up for anyone applying this system, but it can also benefit you in a way of creating some kind of revenue by ‘selling energy’. Selling energy works whenever the battery in the system is fully charged and the household is not using the energy created by the solar panel. The DC power is then sent to the electric company provider through the grid and the person will receive credit as repayment for this energy. On the other hand, as explained it is also important in case there is no solar energy produced and the system runs out of stored energy, the house can still have energy through the grid.
    </p>
  </div>
</div>